
<div class="container">
   
<div class="container vri">
  <h3> {{article?.title}}</h3>
<p> written by {{article?.nameWritter}} for <strong>{{article?.organization}}</strong> </p>
<p> {{article?.description}}</p>
<img *ngIf="article?.imageUrl" [src]='article?.imageUrl'/> 
<div *ngIf="userTruc.currentUser.role == 'admin'">
    <button (click)="deleteClick()"> Delete </button>

  </div>
<hr>
<button class="btn">Get a Shareable Link
   <!-- <br>
  <p>http://localhost:4200/article/5af36299d0c097f581bb05f5 </p>  -->
</button>
<button class="btn">Dowload</button>

<div class="fb-share-button" data-href="https://project2-j.herokuapp.com/final-trip/5ae3092002122d0020557c47" data-layout="button_count" data-size="large" data-mobile-iframe="true">
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
    class="fb-xfbml-parse-ignore">Share Your Trip</a>                
</div>
               
    


</div>

<hr> 
<button class="btn"><a routerLink="/"> Back </a> </button>



</div>

<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <!-- <div class="form-row"> -->
      <label for="card-info">Card Info</label>
      <div id="card-info" #cardInfo></div>
  
      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    <!-- </div> -->
  
    <button type="submit">Donate $5 to charity</button>
  </form>

  
