img {
  width : 0 auto;
  height : 40vh; 
  width: 50 wh;
}
.container{
  text-align : center;
 
}
.vri {
  border : 2px solid grey; 
  height : 100%;
  border-radius : 10px
}
button {
  background: salmon;
  color: wheat;

}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
