<h2>Reports Display</h2>
<div id="my-map" #gmap style="width:40%;height:400px;">
</div>



<div class="btn"> 
      <button (click)="setTypeFilter('Personal Information')"> Personal Information</button>
      <button (click)="setTypeFilter('Interview')"> Interview  </button>
      <button (click)="setTypeFilter('Project')"> Project    </button>
      <button (click)="setTypeFilter('Story')"> Story      </button>
      <button (click)="setTypeFilter('Publication')"> Publication </button>
</div>

<label>
 Filter reports by title
  <input [(ngModel)]= "userInput" type ="search" placeholder="Blah Blah" id="report-seach"> 
</label>
<button class="btn btn-primary" id="report-button"> <a routerLink="/add-report">Add a report</a> </button>
<br>
<br>

<div class="reports-container">
  
  
 
  <ul> 
      <li *ngFor="let oneArticle of (articles |  reports: userInput | type : typeFilter)">
      <div class="card" style="width: 37rem; height: 10em;  background: #d1ccc0;" >
          
          <div class="card-body">
            <h3> {{oneArticle.title}} by {{oneArticle.nameWritter}}</h3>
            <p class="card-text">Organization : {{oneArticle.organization}}</p>
            
              <a id ="details-link"[routerLink]="['/article', oneArticle._id]"> See Details</a>
              <br>
              <br>
          </div>
        </div>
      </li>
  </ul>
</div>


<!-- Grid articles -->

<div class="container" id="grid-article">
    <div class="row" *ngFor="let oneArticle of articles">
      <div class="col-3">
        <h4>{{oneArticle.title}}</h4>
        <p>Organization: {{oneArticle.organization}}</p>
        <img [src]="oneArticle.imageUrl">
      </div>   
    </div>
</div>



