<h2> ARTICLE DISPLAY</h2>

<input type="text" placeholder="search for an article"/>
 

<ul> 
  <li *ngFor="let oneArticle of articles">
    <h3> {{oneArticle.title}} by {{oneArticle.nameWritter}}</h3>
    <p>Organization : {{oneArticle.organization}} about : {{oneArticle.type}}  </p> 
<p>{{oneArticle.reportChange}} </p>
    <p>Date : {{oneArticle.date}} in : {{oneArticle.location}}  </p> 
    <p>email of writter :{{oneArticle.email}}</p> 

      <p> {{oneArticle.description}}</p> 

 <img src="{{oneArticle.imageUrl}}"/> 

<a [routerLink]="['/article', oneArticle._id]"> See Details</a>
  </li>
</ul>


