<!-- video background -->
<div class="row video-back">
 <div class="col-12">

   <div class="video-background">
       <div class="video-foreground">
        
         <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
         <!-- <h2> BITE </h2> -->
        </div>
     </div>
 </div>
</div>

<div id="vidtop-content">
<div class="vid-info">
	  <h2> What is GetInvolved ? </h2>
<div class="container">
<p>GetInvolved is a collaborative effort led by Sami & Jb to fill critical information gaps to inform improved conservation and development activities <br>
   that help people adapt to change while reducing pressure on biodiversity. <br> 
   Plateform to help preserving extinct species all around the world.
 </p>
</div>

<h3> Why ? </h3>
<p> Because we loves animals and we want to change the world </p>
<h3> How to get involved ?</h3>
<ul> 
  <li> By submitting a report </li>
  <li> By commentating on the articles</li>
  <li> By giving donations </li>

</ul>
	 <a href="/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds">Full article</a>
  </div>
</div>

  
 
<!-- text-content -->
<div class="container">

<h3> For more information</h3>
<p> Please feel free to contact us </p>
<a href="#"> GetInvolved@savetheworld.com</a> 

<!-- <h2> Donations </h2>

<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">

    <label for="card-info">Card Info</label>
    <div id="card-info" #cardInfo></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>


  <button type="submit">Pay $777</button>
</form>
</div> -->




















<!-- Camera 

<div class="container pro">
    <div style="text-align:center">
      <h1>
        <span class="label label-success">IT'S A CAMERA </span>
      </h1>    
    </div>
  
    <div class="row" style="text-align:right">
      
  
        
       
      </div>
  
    <div class="row">
      <button (click)="start()" class="btn btn-primary">Play</button>
      <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button>
      <button (click)="pause()" class="btn btn-warning">Pause</button>
      <button (click)="resume()" class="btn btn-info">Resume</button>
      <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <video #videoElement></video>
          </h3>
        </div>
  
      </div>
  
    </div>
  
  </div> -->