<!-- video background -->
<div class="about">
    <h2> What is it about ? </h2>
        <h5>GetInvolved is a collaborative effort led by Sami & Jb   <br> to fill critical information gaps to inform improved conservation and development activities <br>
            that help people adapt to change while reducing pressure on biodiversity. <br> 
            Plateform to help preserving extinct species all around the world.
          </h5>
          <h3> Why ? </h3>
<p> Because we loves animals and we want to change the world </p>
<h3> How to get involved ?</h3>
<p> Interact with others Reports, Share them & Donate to the cause of your choice</p>
<p> ⬇️</p>
</div>

<div class="row video-back">
 <div class="col-12">

   <div class="video-background">
       <div class="video-foreground">
        
         <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
         <!-- <h2> BITE </h2> -->
        </div>
     </div>
 </div>
</div>

<!-- <div id="vidtop-content">
<div class="vid-info">
	  <h2> What is GetInvolved ? </h2>
<div class="container">

</div>

<h3> Why ? </h3>
<p> Because we loves animals and we want to change the world </p>
<h3> How to get involved ?</h3>
<ul> 
  <li> By submitting a report </li>
  <li> By commentating on the articles</li>
  <li> By giving donations </li>

</ul>
	 <a href="/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds">Full article</a>
  </div>
</div>

   -->
 
<!-- text-content -->
<!-- <div class="container">

<h3> For more information</h3>
<p> Please feel free to contact us </p>
<a href="#"> GetInvolved@savetheworld.com</a>  -->



<!-- CREDIT CARD PAYMENT -->

<div class="container">
    <div class="price">
        <h1>Awesome gesture! Help us save those species</h1>
    </div>
    <div class="card__container">
        <div class="card">
            <div class="row paypal custom">
                <div class="left">
                    <input class="checkbox" id="pp" type="checkbox" name="payment" />
                    
                    <label for="pp">Paypal</label>
                </div>
                <div class="right">
                  <a href="https://www.paypal.com">

                    <img src="http://i68.tinypic.com/2rwoj6s.png" alt="paypal" />
                  </a>
                </div>
            </div>
            <div class="row credit custom">
                <div class="left">
                    <input class="checkbox" id="cd" type="checkbox" name="payment" />
                   
                    <label for="cd">Debit/ Credit Card</label>
                </div>
                <div class="right">
                    <img src="http://i66.tinypic.com/5knfq8.png" alt="visa" />
                    <img src="http://i67.tinypic.com/14y4p1.png" alt="mastercard" />
                    <img src="http://i63.tinypic.com/1572ot1.png" alt="amex" />
                    <img src="http://i64.tinypic.com/2i92k4p.png" alt="maestro" />
                </div>
            </div>
            <div class="row cardholder custom">
                <div class="info">
                    <label for="cardholdername">Name</label>
                    <input placeholder="e.g. Richard Bovell" id="cardholdername" type="text" />
                </div>
            </div>
            <div class="row number custom">
                <div class="info">
                    <label for="cardnumber">Card number</label>
                    <input id="cardnumber" type="text" pattern="[0-9]{16,19}" maxlength="19" placeholder="8888-8888-8888-8888"/>
                </div>
            </div>
            <div class="row details custom">
                <div class="left">
                    <label for="expiry-date">Expiry</label>
                    <select id="expiry-date">
                        <option>MM</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <span>/</span>
                     <select id="expiry-date">
                        <option>YYYY</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                    </select>
                </div>
                <div class="right">
                    <label for="cvv">CVC/CVV</label>
                    <input type="text" maxlength="4" placeholder="123"/>
                    <span data-balloon-length="medium" data-balloon="The 3 or 4-digit number on the back of your card." data-balloon-pos="up">i</span>
                </div>
            </div>
        </div>
    </div>
    <div class="button">
        <button type="submit"><i class="ion-locked"></i> Confirm and Pay</button>
    </div>
</div>
<!-- <h2> Donations </h2>

<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">

    <label for="card-info">Card Info</label>
    <div id="card-info" #cardInfo></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>


  <button type="submit">Pay $777</button>
</form>
</div> -->




















<!-- Camera 

<div class="container pro">
    <div style="text-align:center">
      <h1>
        <span class="label label-success">IT'S A CAMERA </span>
      </h1>    
    </div>
  
    <div class="row" style="text-align:right">
      
  
        
       
      </div>
  
    <div class="row">
      <button (click)="start()" class="btn btn-primary">Play</button>
      <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button>
      <button (click)="pause()" class="btn btn-warning">Pause</button>
      <button (click)="resume()" class="btn btn-info">Resume</button>
      <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <video #videoElement></video>
          </h3>
        </div>
  
      </div>
  
    </div>
  
  </div> -->