 <div class="container" style="text-align: center">


 <h2>
 Stats
</h2>

<div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
              </canvas>
</div>
<div class="row">
<div class="col">

<div style="display: block">
  <canvas baseChart
              [data]="doughnutChartDat"
              [labels]="doughnutChartLabel"
              [chartType]="doughnutChartTyp"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
              </canvas>
</div>
</div>
<div class="col">

    <div style="display: block">
      <canvas baseChart
                  [data]="doughnutChartDa"
                  [labels]="doughnutChartLabe"
                  [chartType]="doughnutChartTy"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                  </canvas>
    </div>
    </div>
</div>
</div>