<h2>Add a Report</h2>

<br>
<hr>
<div class="container">
  <h3>Report Form</h3>
  <br>
  <form (ngSubmit)="articleSubmit()"> 
    <div class="form-group">
      <label for="title">
        Report Title
        <input type="text"[(ngModel)]="formCreds.title"  name="title" class="form-control"required>
      </label>
    </div>

    <div class="form-group">
        <select [(ngModel)]="formCreds.type" name="type"for="type">
            <option value="">Type of Report</option>  
            
              <option name="Personal Information" value="Personal Information">Personal Information</option>
              <option name="Interview" value="Interview">Interview</option>
              <option name="Project" value="Project">Project</option>
              <option name="Story" value="Story">Story</option>
              <option name="Publication" value="Publication">Publication</option>
          </select>
      </div>

    <div class="form-group">
      <label for="date">
        Date
        <input type="date" [(ngModel)]="formCreds.date" name="date" class="form-control">
      </label>
    </div>


    <div class="form-group">
        <label for="description">
          Description
          <br>
          <textarea [(ngModel)]="formCreds.description" name="description"  cols="30" rows="10"></textarea>
        </label>
      </div>

      <div class="form-group">
          <label for="nameWritter">
            Your Name
            <input type="text" [(ngModel)]="formCreds.nameWritter"  name="nameWritter" class="form-control">
          </label>
        </div>

        <div class="form-group">
            <label for="email">
              Email
              <input type="email" [(ngModel)]="formCreds.email" name="email" class="form-control">
            </label>
          </div>


        <div class="form-group">
            <label for="location">
              Location
              <input type="text" [(ngModel)]="formCreds.location" name="location" class="form-control" onFocus="geolocate()" placeholder="enter a location...">
            </label>
          </div>

          <div class="form-group">
              <label for="imageUrl">
                Image
                <input type="imageUrl" [(ngModel)]="formCreds.imageUrl" name="imageUrl" class="form-control">
              </label>
          </div>


          <div class="form-group">
                <select [(ngModel)]="formCreds.organization" name="organization" for="organization">
                  <option value="">Organization</option>  
                  
                    <option name="World Wildlife Fund" value="World Wildlife Fund">World Wildlife Fund</option>
                    <option name="Centra Terra Viva" value="Centra Terra Viva">Centra Terra Viva</option>
                    <option name="Giz" value="Giz">Giz</option>
                    <option name="World Ressource institute" value="World Ressource institute">World Ressource institute</option>
                    <option name="Other" value="Other">Other</option>
                </select>
          </div>

          <div class="form-group">
              <select [(ngModel)]="formCreds.reportChange" name="reportChange" for="reportChange">
                  <option value="">ReportChange</option>  
                  
                    <option  name="Increased rainfall" value="Increased rainfall">Increased rainfall</option>
                    <option  name="Decreased rainfall" value="Decreased rainfall">Decreased rainfall</option>
                    <option  name="Changes in timing of seasons" value="Changes in timing of seasons">Changes in timing of seasons</option>
                    <option  name="Storms" value="Storms">Storms</option>
                    <option  name="Loss of water source" value="Loss of water source">Loss of water source</option>
                    <option  name="Wildlfires" value="Wildlfires">Wildlfires</option>
                    <option  name="none" value="none">None</option>

                </select>
            </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

<div id="my-map" #gmap style="width:40%;height:400px">
</div>
