<div class="container o"><h2> ADD A REPORT </h2></div>
<hr>
  <div class="row">
      <div class="col-6">
<div class="container">
  <h3>Report Form</h3>

  <hr> 

<div class="ok">
  <form (ngSubmit)="articleSubmit()"> 
    <div class="form-group">
      <label for="title">
        Report Title
        <input type="text"[(ngModel)]="formCreds.title"  name="title" class="form-control"required placeholder="Title of your reports...">
      </label>
    </div>

    <div class="form-group">
      <label>
        Type of Reports : 
        <select [(ngModel)]="formCreds.type" name="type"for="type">
            <option value="">Type of Report</option>  
            
              <option name="Personal Information" value="Personal Information">Personal Information</option>
              <option name="Interview" value="Interview">Interview</option>
              <option name="Project" value="Project">Project</option>
              <option name="Story" value="Story">Story</option>
              <option name="Publication" value="Publication">Publication</option>
          </select>
        </label>
      </div>

    <div class="form-group">
      <label for="date">
        Date : 
        <input type="date" [(ngModel)]="formCreds.date" name="date" class="form-control">
      </label>
    </div>


    <div class="form-group">
        <label for="description">
          Summary : 
          <br>
          <textarea [(ngModel)]="formCreds.description" name="description"  cols="20" rows="1" placeholder="Just a small description of your topic."></textarea>
        </label>
      </div>

      <div class="form-group">
          <label for="descriptif">
            Description : 
            <br>
            <textarea [(ngModel)]="formCreds.descriptif" name="descriptif"  cols="30" rows="10" placeholder="...."></textarea>
          </label>
        </div>

        
      <div class="form-group">
          <label for="nameWritter">
            Your Name
            <input type="text" [(ngModel)]="formCreds.nameWritter"  name="nameWritter" class="form-control" placeholder="Nizar Pizza">
          </label>
        </div>

        <div class="form-group">
            <label for="email">
              Email
              <input type="email" [(ngModel)]="formCreds.email" name="email" class="form-control" placeholder="nizar@pizza.com">
            </label>
          </div>


        <div class="form-group">
            <label for="location">
              Location : 
              <input type="text" [(ngModel)]="formCreds.location" name="location" class="form-control" class="location-input"autocorrect="off" autocapitalize="off" spellcheck="off" placeholder="enter a location..." #search [formControl]="searchControl">
              <input type="hidden" name="latitude" class="lat-input" />
              <input type="hidden" name="longitude" class="lng-input" />
            </label>
          </div>

          <div class="form-group">
              <label for="imageUrl">
                Image : 
                <input type="imageUrl" [(ngModel)]="formCreds.imageUrl" name="imageUrl" class="form-control" placeholder="Insert an image">
              </label>
          </div>


          <div class="form-group">
            <label>
              Organization : 
                <select [(ngModel)]="formCreds.organization" name="organization" for="organization">
                  <option value="">Organization</option>  
                  
                    <option name="World Wildlife Fund" value="World Wildlife Fund">World Wildlife Fund</option>
                    <option name="Centra Terra Viva" value="Centra Terra Viva">Centra Terra Viva</option>
                    <option name="Giz" value="Giz">Giz</option>
                    <option name="World Ressource institute" value="World Ressource institute">World Ressource institute</option>
                    <option name="Other" value="Other">Other</option>
                </select>
              </label>
          </div>

          <div class="form-group">
            <label>
              Type of Species in Danger
              <select [(ngModel)]="formCreds.species" name="species" for="species">
                  <option value="">Animals Species</option>  
                    <option  name="Mammals" value="Mammals">Mammals</option>
                    <option  name="Reptiles" value="Reptiles">Reptiles</option>
                    <option  name="Birds" value="Birds">Birds</option>
                    <option  name="Insects" value="Insects">Insects</option>
                    <option  name="Aquatic Animals" value="Aquatic Animals">Aquatic Animals</option>
                    <option  name="Other" value="Other">Other</option>

                </select>
              </label>
            </div>
            <div class="form-group">
              <label>      
                Level of Danger :         
                  <select [(ngModel)]="formCreds.danger" name="danger" for="danger">
                    <option value="">Danger</option>  
                    
                      <option  name="In Danger" value="In Danger">In Danger</option>
                      <option  name="Real Danger" value="Real Danger">Real Danger</option>
                      <option  name="Almost Extinct" value="Almost Extinct">Almost Extinct</option>
                 
  
                  </select>
                </label>

              </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
</div>
</div>

<div class="col-6">
<h3 class="espace"> Check Out the Location Instantly !</h3>
<agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChooseLocation($event)">
  <agm-marker 
  
  [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen">  </agm-marker>
 
</agm-map>
</div>
</div>



