

#logo {
  padding: 9px;
  background: salmon;
  color: wheat;
  font-size: 15px;
  border-radius: 8px;
}

#logout {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}
footer{
clear: both;
color: wheat;
background-color : lightgray
}

