
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


<header> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GetInvolved</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/article">Articles <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/add-report">Add an Article <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
             <a class="dropdown-item" href="/forms">Créer un formulaire</a>
            <a class="dropdown-item" href="/logout">Se deconnecter</a>

            <a class="dropdown-item" href="/login">Se connecter</a>
            <a class="dropdown-item" href="/signup">S'enregistrer</a>
 
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="/setting/{{blahUser.Id}}">Mes informations personnelles</a> -->
            
          </div>
          
        </li>
      </ul>
      <span class="navbar-text">
 

      <strong> Bonjour</strong>
  </span>
    </div>
  </nav>
</header>


<router-outlet></router-outlet>


<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <hr>
  <div class="row py-3 d-flex align-items-center">
      <div class="col-md-8 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left grey-text">© 2018 Copyright: <strong>Samy & JB</strong></p>
          <!--/.Copyright-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
    
      <!--Grid column-->

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
