
img {
  padding-top: 10px;
  padding-left: 30px;
}
 #navbarDropdown {
   float: right;
 }
#logo {
  padding: 9px;
  background: salmon;
  color: wheat;
  font-size: 15px;
  border-radius: 8px;
}

  li #logout {
  float: right;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
}
footer{
clear: both;
color: lightgrey;
background-color : white;
padding-left:0;
}
h6 a {
  text-decoration: none; 
  color : lightgray
}

/* nav li:hover {
 opacity: 0.5;
} */

