


<header> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GetInvolved</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/article">Articles <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/add-report">Add an Article <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
             <a class="dropdown-item" href="/forms">Créer un formulaire</a>
            <a class="dropdown-item" href="/logout">Se deconnecter</a>

            <a class="dropdown-item" href="/login">Se connecter</a>
            <a class="dropdown-item" href="/signup">S'enregistrer</a>
 
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="/setting/{{blahUser.Id}}">Mes informations personnelles</a> -->
            
          </div>
          
        </li>
      </ul>
      <span class="navbar-text">
 

      <strong> Bonjour</strong>
  </span>
    </div>
  </nav>
</header>


<router-outlet></router-outlet>
<!-- 
 <hr> 
<footer>
  Made with 🤝 by Sami & JB 
</footer> -->