<div class="container">
<h2> Signup </h2>
<hr>
<div class="row">
  <div class="col-6">
<div class="card">

<form (ngSubmit)="signupSubmit()"> 
  <label>
    New Username: 
    <input type="text" [(ngModel)]="formCreds.username" 
    name="username" placeholder="wonderman">
  </label>
  <br>
  <label>
      New Password: 
      <input type="password" [(ngModel)]="formCreds.password" 
      name="password" placeholder="******">
    </label>
    <br>
    <label>
        New Email: 
        <input type="email" [(ngModel)]="formCreds.email" 
        name="email" placeholder="nizar@pizza.com">
      </label>
      <br>
      <label>
          New Picture: 
          <input type="texte" [(ngModel)]="formCreds.picture" 
          name="picture" placeholder="Picture...">
        </label>
        <br>
    <button class='btn btn-success'> Sign Up </button>
</form>
</div>
<div class="col-6">
  ok
</div>
</div>
</div>
</div>