.reports-container li {
  list-style-type: none;
}


img {
  width : 0 auto;
  height : 40vh; 
  width: 50 wh;
}
.container{
  text-align : center;
 
}
.vri {
  border : 2px solid grey; 
  height : 100%;
  border-radius : 10px
}
/* button {
  background: salmon;
  color: wheat;

} */

img {
  height: 300px;
  width: 400px;
}
#grid-article {
  text-align : center; 
   /* display: flex; */
   overflow: scroll;
 
 } 
 .btn  {
  width: 140px;
  font-size: 0.8em;
}
.button1{
  /* float: left; */
  position: relative;
    background-color: darkgrey;
    border-radius : 50%;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

 .rowi{
  height : 500px; 

}
.card {
  margin-left: 12px;
}
.card:hover .ca {
  opacity: 0.3;
}
.card:hover .btn {
  opacity: 1;
}
.search__container {
  padding-top: 64px;
}

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

.search__input {
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 330px;

   

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  
  color: #575756;
  background-color: transparent;
  background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
      padding-left: 30px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }

.search__input:hover,
  .search__input:focus {
      color: white;
      background-color: grey;
      padding: 12px 30px;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 50px;
      background-position: 100% center;
  }
